In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
users = pd.read_csv('users.csv')

In [4]:
users

       user_id          carId
0            0    GOLF 4_1999
1            0       156_2000
2            0  WAGON R+_1999
3            0     CIVIC_2001
4            0    FIESTA_1999
...        ...            ...
17134     4372   TOUAREG_2008
17135     4372  ML KLASA_2006
17136     4372   PRIUS +_2007
17137     4373        X5_2006
17138     4373  ML KLASA_2006

[17139 rows x 2 columns]

In [15]:
user_group = users.groupby('user_id')

#### Provera koliko je prosecno svaki korisnik ocenio modela

In [11]:
user_group['carId'].count().mean()

3.9183813443072704

In [18]:
users['Godiste'] = users['carId'].apply(lambda x: int(x.split('_')[1]))

In [19]:
users

       user_id          carId  Godiste
0            0    GOLF 4_1999     1999
1            0       156_2000     2000
2            0  WAGON R+_1999     1999
3            0     CIVIC_2001     2001
4            0    FIESTA_1999     1999
...        ...            ...      ...
17134     4372   TOUAREG_2008     2008
17135     4372  ML KLASA_2006     2006
17136     4372   PRIUS +_2007     2007
17137     4373        X5_2006     2006
17138     4373  ML KLASA_2006     2006

[17139 rows x 3 columns]

#### Kojih modela ima najvise sto su korisnici ocenili

In [43]:
users.groupby('carId')['carId'].count().sort_values(ascending=False).head(10)

carId
PASSAT B6_2006    196
A4_2006           158
PASSAT B6_2007    145
A4_2005           132
PRIUS +_2005      119
A4_2007           105
PRIUS +_2006       99
WAGON R+_2006      98
PRIUS +_2004       97
ZAFIRA_2006        94
Name: carId, dtype: int64

#### Koje godiste je najzastupljenije?

In [44]:
users.groupby('Godiste')['carId'].count().sort_values(ascending=False).head(10)

Godiste
2006    2627
2005    2214
2007    1992
2004    1740
2003    1513
2002    1246
2008    1159
2001     979
2000     570
2013     338
Name: carId, dtype: int64